@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
}
body{
    background-color: #1c1c1c;
}

.card{
    min-height: 600px;
    max-width: 400px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 20px;
}

#root{
    min-height: 600px;
    max-width: 400px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 12px;
}