@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
}

#pic{
    padding: 0px;
    margin: -20px;
}

.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.info__container{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#prof{
    padding: 5px;
    color: #f38f99;
}

#web{
    padding: 5px;
    font-size: small;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.buttons a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100px;
    padding: 15px;
    border-radius: 10px;
    margin: 3.5px;
    
}

.email{
    background-color: white;
    color: black;
    text-decoration: none;
}

.linkedin{
    background-color: #5093e2;
    color: white;
    text-decoration: none;
}